.new-expense__form {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.new-expense__group {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.new-expense__btn-group {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

.new-expense__group label {
	margin-left: 0.5rem;
	margin-bottom: 0.3rem;
}

.new-expense__group input {
	height: 2.5rem;
	border: 1px solid #98c1d9;
	border-radius: 5px;
	outline: none;
	padding: 0 0.5rem;
	min-width: 200px;
}
.new-expense__group input:invalid,
.new-expense__group input:focus {
	border: 2px solid #ee6c4d;
}
.new-expense__group input:valid {
	border: 2px solid #076f24;
}

.new-expense__btn {
	height: 60px;
	background-color: #ee6c4d;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
	color: #e0fbfc;
	padding: 1rem 2rem;
	font-size: 1rem;
}
.new-expense__btn--submit:hover {
	background-color: #f1785a;
}
.new-expense__btn--submit:focus {
	background-color: #f26f4e;
}

.new-expense__btn--cancel {
	background-color: transparent;
	color: #293241;
	border: 1px solid #3d5a80;
}
.new-expense__btn--cancel:hover {
	background-color: #3d5a80;
	color: #e0fbfc;
}
.new-expense__btn--cancel:focus {
	background-color: #98c1d9;
}
