*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: #293241;
}

body {
	background-color: #eee;
}

/* code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */
